<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput ngModel name="userName" id="userName" placeholder="Username" required>
                <mat-error *ngIf="registerForm.controls.userName?.errors?.required">
                    Username is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>First Name</mat-label>
                <input matInput ngModel name="userFirstName" id="userFirstName" placeholder="First Name" required>
                <mat-error *ngIf="registerForm.controls.userFirstName?.errors?.required">
                    UserFirstName is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Last Name</mat-label>
                <input matInput ngModel name="userLastName" id="userLastName" placeholder="Last Name" required>
                <mat-error *ngIf="registerForm.controls.userLastName?.errors?.required">
                    UserLastName is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Password</mat-label>
                <input type= "password" matInput ngModel name="userPassword" id="userPassword" placeholder="Password" required>
                <mat-error *ngIf="registerForm.controls.userPassword?.errors?.required">
                    Password is required.
                </mat-error>
            </mat-form-field>

            <div class="text-center">
                <button type="submit" mat-raised-button color="primary">Register</button>
            </div>
        </form>
    </div>
</div>
