/* register.component.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw; 
    background-color: #f5f5f5;
}

.card {
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 5px;
}

.mat-error {
    color: #f44336; /* Red color */
    font-size: 14px;
    margin-top: 5px;
}

.mat-form-field {
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}